<fieldset>
  <div class="form-group">
    <%= ff.label "New speciality", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= ff.text_field :name, :class => 'form-control' %>
    </div>
  </div>
</fieldset>