<h1>Specialists App</h1>
<p>Specialists App lets you create employees and specialties and associated with many to many relationships by using "has_and_belongs_to_many" method. This model can let employees create specialties and associate it from many other employees with the simple authentication system.</p>